@import 'variables';

.FooterTypeOne {

	height: 20rem;

	@media only screen and (max-width: 768px) {

		height: 24rem;
	}

	@media only screen and (max-width: 360px) {

		height: 17rem;
	}

	background-image: $banner-one;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}