 @import 'variables';

 .container {
 	height: 8rem;
 	background-color: $purple;
 	font-family: 'Raleway';
 	font-style: normal;
 	font-weight: 700;
 	font-size: 20px;
 	line-height: 40px;

 	display: flex;
 	align-items: center;
 	justify-content: space-around;

 	@media only screen and (max-width: 768px) {
 		height: 12rem;
 		padding-top: 0.5rem;
 		overflow: auto;
 		flex-direction: column;
 	}

 	img {
 		height: 64px;
 		width: 14.5rem;
 	}

 	ul {
 		list-style: none;
 		font-weight: 700;
 		font-size: 20px;
 		line-height: 40px;
 		color: $white;
 		display: flex;
 		align-items: center;
 		justify-content: center;

 		@media only screen and (max-width: 360px) {
 			display: none;
 		}

 		li {
 			margin-left: 2rem;
 		}
 	}
 }
