@import 'variables';

.background__wrapper__secondOne {
	width: 90rem;
	height: 25rem;

	@media only screen and (max-width: 768px) {
		width: 48rem;
		height: 24rem;
	}

	@media only screen and (max-width: 360px) {
		width: 22.5rem;
		height: 17rem;
	}

	background-image: url(../../../../../assets/About/abboutbanner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}