@import 'variables';

.background__wrapper__secondOne {
	height: 25rem;

	background-image: url(../../../../../assets/About/abboutbanner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}